<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Load libraries (Note: IE required polyfills, in this exact order_ -->
    <script src="lib/es6-shim/es6-shim.min.js" type="text/javascript"></script>
    <script src="lib/systemjs/dist/system-polyfills.js" type="text/javascript"></script>
    <script src="lib/angular2/es6/dev/src/testing/shims_for_IE.js" type="text/javascript"></script>

    <script src="lib/angular2/bundles/angular2-polyfills.js" type="text/javascript"></script>
    <script src="lib/systemjs/dist/system.src.js" type="text/javascript"></script>
    <script src="lib/rxjs/bundles/Rx.js" type="text/javascript"></script>
    <script src="lib/angular2/bundles/angular2.dev.js" type="text/javascript"></script>

    <!-- Configure SystemJS -->
    <script type="text/javascript">
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/main').then(null, console.error.bind(console));
    </script>
</head>
<body>
    <div class="container-fluid">
        <my-app>Loading...</my-app>
    </div>
</body>
</html>