@{
    ViewBag.Title = "Home Page";
}

<!-- Content Wrapper -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <p>This is going to be an awesome dashboard one day</p>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->