@model Menou.Core.Model.Restaurant

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Name</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menuItem in Model.MenuItems)
        {
            <tr>
                <td>@menuItem.Title</td>
                <td>@menuItem.Description</td>
            </tr>
        }
    </tbody>
</table>
