@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Instructions</h2>
        <p>Please enter the required fields below and click the search button.</p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="searchTerm">Search Term</label>
            <input type="text" id="searchTerm" class="form-control" data-bind="value: SearchTerm" placeholder="Search Term" />
            <span class="alert-danger validationMessage" data-bind="validationMessage: SearchTerm"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="searchResultCount">Search Result Count</label>
            <input type="text" id="searchResultCount" class="form-control" data-bind="value: SearchCount" placeholder="Search Result Count" />
            <span class="alert-danger validationMessage" data-bind="validationMessage: SearchCount"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="matchUrl">Match Url</label>
            <input type="text" id="matchUrl" class="form-control" data-bind="value: MatchUrl" placeholder="Match Url" />
            <span class="alert-danger validationMessage" data-bind="validationMessage: MatchUrl"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p><a class="btn btn-default" data-bind="click: GetGoogleSearchResults">Search</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span class="alert-danger" data-bind="text: ErrorMessage"></span>
    </div>
</div>
<div class="row">
    <div data-bind="if: MatchingGoogleSearchResults().length > 0">
        <div class="col-md-12">
            <h4>Matching Results</h4>
            <div data-bind="foreach: MatchingGoogleSearchResults">
                <div class="list-group-item">
                    <div class="row add-bottom-margin-1">
                        <div class="col-md-1 center-text">
                            <div class="badge badge-custom" data-bind="text: Position"></div>
                        </div>
                        <div class="col-md-11">
                            <h3 class="heading" data-bind="text: HeadingText"></h3>
                            <a class="cite-link" data-bind="attr: { href: ResultUrl }, text: ResultUrl"></a>
                            <div data-bind="text: Description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div data-bind="if: GoogleSearchResults().length > 0">
        <div class="col-md-12">
            <h4>Full Result Set</h4>
            <div data-bind="foreach: GoogleSearchResults">
                <div class="list-group-item">
                    <div class="row add-bottom-margin-1">
                        <div class="col-md-1 center-text">
                            <div data-bind="if: IsMatch">
                                <div class="badge badge-custom-match" data-bind="text: Position"></div>
                            </div>
                            <div data-bind="if: !IsMatch()">
                                <div class="badge badge-custom" data-bind="text: Position"></div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <h3 class="heading" data-bind="text: HeadingText"></h3>
                            <a class="cite-link" data-bind="attr: { href: ResultUrl }, text: ResultUrl"></a>
                            <div data-bind="text: Description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>